{:defn-macro             nil
 :throw?                 false
 :async?                 false
 :guardrails/mcps        50
 :guardrails/compact?    true
 :guardrails/stack-trace :none
 :guardrails/trace?      true
 :guardrails/use-stderr? true}
