{:deps   {:aliases [:dev]}
 :http   {:host "127.0.0.1"
          :port 9632}

 :builds {:demo                  {:target     :browser
                                  :output-dir "resources/public/js/demo"
                                  :asset-path "/js/demo"
                                  :devtools   {:preloads           [com.fulcrologic.devtools.chrome.preload]
                                               :after-load         target-app.main/refresh
                                               :http-root          "resources/public"
                                               :http-port          8080
                                               :http-resource-root "."
                                               :devtools-url       "http://localhost:9632"}
                                  :modules    {:main {:entries [target-app.main]}}}

          :chrome-background     {:target           :esm
                                  :output-dir       "shells/chrome/js/extension"
                                  :asset-path       "js/extension"
                                  :runtime          :custom
                                  :compiler-options {}
                                  :modules          {:service-worker {:init-fn com.fulcrologic.devtools.chrome.background-worker/init}}}
          :chrome-content-script {:target           :browser
                                  :output-dir       "shells/chrome/js/content-script"
                                  :asset-path       "js/content-script"
                                  :compiler-options {:closure-output-charset "US-ASCII"
                                                     :optimizations          :simple}
                                  :modules          {:main {:entries [com.fulcrologic.devtools.chrome.content-script]}}}
          :chrome-devtool        {:target           :esm
                                  :runtime          :custom
                                  :output-dir       "shells/chrome/js/devtool"
                                  :asset-path       "js/devtool"
                                  :compiler-options {}
                                  :devtools         {:preloads [com.fulcrologic.devtools.chrome.devtool-inspect]}
                                  :modules          {:main {:entries [devtool.chrome-app]}}}

          :electron-main         {:target           :node-script
                                  :main             fulcro.inspect.electron.background.main/init
                                  :devtools         {:devtools-url "http://localhost:9632"
                                                     :after-load   fulcro.inspect.electron.background.main/done}
                                  :compiler-options {:optimizations :simple}
                                  :output-to        "shells/electron/js/background/main.js"}

          :electron-renderer     {:target           :browser
                                  :modules          {:main {:entries [fulcro.inspect.electron.renderer.main]}}
                                  :devtools         {:devtools-url "http://localhost:9632"
                                                     :after-load   fulcro.inspect.electron.renderer.main/start}
                                  :compiler-options {:optimizations :simple}
                                  :output-dir       "shells/electron/js/renderer"
                                  :asset-path       "js/renderer"}}}
